<h1>These are your <%=@frequency%> reminders</h1>
<h2><%=Date.today.strftime('%B') if @frequency == "monthly"%></h2>
<h2><%="Week: #{Date.today.strftime('%v')}" if @frequency == "weekly"%></h2>

 <%if !@reminders.empty?%>
  <%@reminders.each.with_index(1) do |reminder, i|%>
    <ul>
      <li>
        <p><a href="/reminders/<%=reminder.id%>"><%=i%>:</a> <%=reminder.note%></p>
      </li>
    </ul>
  <%end%>
  
<%else%>
  <p>At this moment in time, you do not have any <%=@frequency%> reminders. If you would like to create some, please <a href="/reminders/new">Click Here.</a></p>
<%end%> 
 
 