<h1>This is a <%=@reminder.frequency%> reminder</h1>

<div>
  <p><%=@reminder.note%></p>
</div>

<a href="/reminders/<%=@reminder.id%>/edit">Edit</a>
<form action="/reminders/<%=@reminder.id%>/delete" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Reminder">
</form>
<a href="/reminders/<%=@reminder.user_id%>/weekly">Weekly Reminders</a>
<a href="/reminders/<%=@reminder.user_id%>/monthly">Monthly Reminders</a>