<%if @reminder.frequency == "monthly"%>
  <h1>This is a reminder for the month of <%=Date.today.strftime('%B')%> </h1>
<%elsif @reminder.frequency == "weekly"%>
  <h1>This is a reminder for week <%=Date.today.strftime('%V')%> of <%=Date.today.strftime('%Y')%></h1>
<%else%>
  <h1>This is a <%=@reminder.frequency%> reminder for <%=Date.today.strftime('%m/%d/%y')%></h1>
<%end%>

<div>
  <p><%=@reminder.note%></p>
</div>

<form action="/reminders/<%=@reminder.id%>/delete" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Reminder">
</form>
<a href="/reminders/<%=@reminder.id%>/edit">Edit</a>
<a href="/reminders/<%=@reminder.user_id%>/weekly">Weekly Reminders</a>
<a href="/reminders/<%=@reminder.user_id%>/monthly">Monthly Reminders</a>